<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mihoku-001-site1.ftempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://win8030.site4now.net:8172/msdeploy.axd?site=mihoku-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>mihoku-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>mihoku-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL8002.site4now.net;Initial Catalog=db_a885f4_grabfit2;User ID=db_a885f4_grabfit2_admin;Password=P@ssw0rd" Name="Data Source=SQL8002.site4now.net;Initial Catalog=db_a885f4_grabfit2;User Id=db_a885f4_grabfit2_admin;Password=P@ssw0rd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GrabFit2.Models.ApplicationDbContext, GrabFit2" MigrationConfiguration="GrabFit2.Migrations.Configuration, GrabFit2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL8002.site4now.net;Initial Catalog=db_a885f4_grabfit2;User Id=db_a885f4_grabfit2_admin;Password=P@ssw0rd</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>